# Directories
node_modules/
.expo/
.expo-shared/
dist/
web-build/
build/
android/
ios/

# Logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.log

# Env
.env
.env.local
.env.*.local

# Metro, bundler, cache
.cache/
.parcel-cache/

# Editor
.idea/
.vscode/
*.swp

# Temporary
tmp/
temp/
*.tmp

# OS/editor artifacts
Thumbs.db
*.orig
.qodo/
.npmrc
.husky/
.history/

